---
export interface Props {
  hidden: boolean | false;
}

const { hidden } = Astro.props;

const res = await fetch("http://localhost:3000/api/status")
  .then((res) => res.json())
  .catch(console.log);
console.log(res);
---

<main
  class={`full-screen bg-indigo-500 flex-center font-PP font-extrabold text-black text-xl relative ${
    !!hidden && "!hidden"
  }`}
>
  Daku Softworks
</main>
