@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgb(115, 122, 230);
}

.mainBg {
  background-color: var(--main-color);
}

.mainColor {
  color: var(--main-color);
}

.full-screen {
  min-height: 100vh;
  min-width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body,
html {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-color: #141416;
  color: #eee;
  font-family: Arial, Verdana, Tahoma, sans-serif, sans-serif;
}

progress[value]::-webkit-progress-bar {
  transition: width 5s ease;
  background-color: #202020;
  border-radius: 40px;
}

progress[value]::-webkit-progress-value {
  transition: width 5s ease;
  border-radius: 40px;
  background-color: var(--main-color);
}

#updatingScreen b {
  color: var(--main-color);
}

input {
  outline: none;
  caret-color: var(--main-color);
}

#MainUi {
  border: 1px solid #eee;
  border-style: dotted;
  width: 550px;
  height: 350px;
}
