---
// ===== General Layout ====== //
import fetch from 'node-fetch';
import Layout from "#layouts/Layout.astro"
// ===== Imports ====== //
import SlashScreen from "#UI/slash.astro"
import UpdateScreen from "#UI/update.astro"
import MainUI from "#MainUI/Main.astro"

const res = await fetch("https://daku-dev.vercel.app/api/status")
  .then((res) => res.text())
  .catch(console.log);
---

<Layout>

  <main class="grid place-items-center min-h-screen w-full">
     { !res.updated ? <UpdateScreen/> : <SlashScreen /> }
     <MainUI />
  </main>

</Layout>