---
---

<div class="">
  <div class="flex-around min-w-full  items-center">
    <h1 class="font-bold font-PP text-lg">Welcome, Syraxes.</h1>
    <hr class="h-5 w-[0.3px] rounded-md  bg-neutral-800 border-none">
    <span class="font-PP font-medium text-indigo-600 text-sm">Working</span>
  </div>
  <section class="grid mt-4">
    <div class="bg-neutral-800 text-xs p-2 px-6 rounded-md">
      <h6 class="font-PP font-medium text-lime-400">Workspaces Stadistics</h6>

    </div>
  </section>
</div>