---
---

<h1 class="font-semibold text-lg font-PP ">Good, Morning!  Welcome, Syraxes. 👋</h1>

<section class="mt-3 mb-4 grid grid-cols-2 gap-4  overflow-hidden ">

  <div class="flex flex-col  bg-indigo-500/50 flex-1 gap-1  rounded-lg font-PP  p-3 px-5">
    <h3 class="text-sm font-medium ">Are you without Coins?</h3>
    <p class="text-xs ">Now, You can invite to you  friends to Daku and you will get 15 Coins for by one! According, T&C. </p>
    <button class="bg-indigo-600 p-1.5 text-xs  w-full mt-3 rounded-md">Invite</button>
  </div>

  <div class="bg-neutral-800/70 rounded-lg font-PP flex gap-2 flex-col  p-3 px-5">
    <h3 class="text-sm font-medium text-neutral-300 ">Software Updated & Working.</h3>
    <p class="text-xs">Daku has been updated at version <b>v.2.3.4</b>, Updates: <br> - UI Improved <br> Check full log: Here.  </p>
  </div>
  
</section>

<span class="text-xs text-neutral-400 font-MT text-center">Any problem? Contact to Daku Suppont. </span>