---
  import Introduction from '#MainUI/Introduction.astro'
---

<main id='MainUi' class='flex'>
  <section class='w-[25%] min-h-full p-3 px-7 bg-[#151517]'>
    <div id='controlButtons'>
       <button class='h-2.5 w-2.5 rounded-full bg-indigo-500'></button>
        <button class='h-2.5 w-2.5 rounded-full bg-neutral-800'></button>
    </div>
  </section>

  <section>
    <Introduction />
  </section>
</main>