---
  import Introduction from '#MainUI/Introduction.astro'
import Navbar from './Navbar.astro';
---

<main id='MainUi' class='relative w-full flex overflow-hidden'>
  <Navbar/>
  <section class='w-full p-6 px-10'>
    <Introduction />
  </section>
</main>