---
  import Introduction from '#MainUI/Introduction.astro'
import Navbar from './Navbar.astro';
---

<main id='MainUi' class='relative w-full overflow-hidden'>
  <header class="p-5 px-10 flex-around">
    <section class="flex gap-2">
      <button class="h-3 w-3 bg-indigo-500 rounded-full"></button>
      <button class="h-3 w-3 bg-neutral-700 rounded-full"></button>
    </section>
    <h3 class="font-PP text-sm text-zinc-500 font-medium">On-boarding</h3>
  </header>
  <Navbar/>
  <section class='w-full p-2  px-10'>
    <Introduction />
  </section>
</main>